<!--
    @author BY
    @date 2019-07-20 19:59
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>你好 ejs view engine后台数据</h2>
    <%- include common/header.ejs%>
    <img src="img/girl.jpg" alt="">
</body>
</html>