<!--
    @author BY
    @date 2019-07-16 21:33
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<h2>登录</h2>

<form action="/doLogin" method="post">
    <input type="text" name="username" autocomplete="off"/>
    <br/>

    <input type="password" name="password" autocomplete="off"/>

    <input type="submit" value="登录"/>

</form>
</body>
</html>