<!--
    @author BY
    @date 2019-07-19 19:52
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        <% for (var i=0; i<result.length; i++){  %>
        <li> <%=result[i].name%> + <%=result[i].age%> + <%=result[i].sex%> </li>
        <% } %>
    </ul>
</body>
</html>